.container{
    background-image: url('bg.png');
    background-size: cover;
    background-position: center;
    background-position-y: -400px;
    min-height: 100vh;
    min-width: 100vw;
    position: absolute
}